/* Write your CSS here */
.bg {
  background-color: #150b3e;
  height: 100vh;
}
.card {
  background-color: #c7d2fe;
  border-radius: 80px;
}
.white {
  color: #ffffff;
}
.black {
  color: #585076;
}
